mixin reviewPublish(id) 
    
    .review-area(data-rating=review.rating)
        textarea.form__input#review-input(data-tour-id=`${tour.slug}` maxlength="250"  name="story" rows="5" cols="33")= review.review
        .rat
            .stars
                form(action="")
                    input.star-one.star-5(type="radio" id='star-5' name="star")
                    label.star.star-5(for="star-5")
                    input.star-one.star-4(type="radio"  id='star-4' name="star")
                    label.star.star-4(for="star-4")
                    input.star-one.star-3(type="radio"  id='star-3' name="star")
                    label.star.star-3(for="star-3")
                    input.star-one.star-2(type="radio"  id='star-2' name="star")
                    label.star.star-2(for="star-2")
                    input.star-one.star-1(type="radio"  id='star-1' name="star")
                    label.star.star-1(for="star-1")
    .button-div
        button.btn.btn--small.btn--white.review-sub(id='myButtontwo' data-user-id=`${user.id}`) Save Edits
        button.btn.btn--small.btn--red.review-sub#errorButton2(data-review-id=`${id}` ) Delete
